 @using RentalyProject.ViewModels.Cars;

@model CreateCarVM
<div class="container-fluid page-body-wrapper">

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">

                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Create Car</h4>
                            <form class="forms-sample" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label asp-for="Seats">Number of seats</label>
                                    <input asp-for="Seats" class="form-control" placeholder="Enter the number of seats">
                                    <span class="text-danger" asp-validation-for="Seats"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Doors">Number of doors</label>
                                    <input asp-for="Doors" class="form-control" placeholder="Enter the number of doors">
                                    <span class="text-danger" asp-validation-for="Doors"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Luggage"></label>
                                    <input asp-for="Luggage" class="form-control" placeholder="Luggage">
                                    <span class="text-danger" asp-validation-for="Luggage"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EngineCapacity">Engine Capacity</label>
                                    <input asp-for="EngineCapacity" class="form-control" placeholder="Engine Capacity">
                                    <span class="text-danger" asp-validation-for="EngineCapacity"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Year">Year</label>
                                    <input asp-for="Year" class="form-control" placeholder="Year">
                                    <span class="text-danger" asp-validation-for="Year"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Milleage">Milleage</label>
                                    <input asp-for="Milleage" class="form-control" placeholder="Milleage">
                                    <span class="text-danger" asp-validation-for="Milleage"></span>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label asp-for="FuelEconomy">Fuel Economy</label>
                                        <input asp-for="FuelEconomy" class="form-control" placeholder="Fuel Economy">
                                        <span class="text-danger" asp-validation-for="FuelEconomy"></span>
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="RentPrice">Rent Price</label>
                                        <input asp-for="RentPrice" class="form-control" placeholder="RentPrice">
                                        <span class="text-danger" asp-validation-for="RentPrice"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TransmissionId">Transmission</label>
                                    <select asp-for="TransmissionId" class="form-control" asp-items="new SelectList(ViewBag.Transmissions,nameof(Transmission.Id),nameof(Transmission.Name))">
                                        <option disabled selected>Select Transmission please</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="TransmissionId"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BodyTypeId">Body Type</label>
                                    <select asp-for="BodyTypeId" class="form-control" asp-items="new SelectList(ViewBag.BodyTypes,nameof(BodyType.Id),nameof(BodyType.Name))">
                                        <option disabled selected>Select Body Type please</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="BodyTypeId"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MarkaId">Marka</label>
                                    <select id="markaId" asp-for="MarkaId" class="form-control" asp-items="new SelectList(ViewBag.Markas,nameof(Marka.Id),nameof(Marka.Name))">
                                        <option disabled selected>Select Marka please</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="MarkaId"></span>
                                </div>
                                <div class="form-group">
                                    <label>Model</label>
                                    <select id="ModelId" asp-for="ModelId" class="form-control">
                                        <option disabled selected>Select Model please</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="MarkaId"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FuelTypeId">Fuel Type</label>
                                    <select asp-for="FuelTypeId" class="form-control" asp-items="new SelectList(ViewBag.FuelTypes,nameof(FuelType.Id),nameof(FuelType.Name))">
                                        <option disabled selected>Select Fuel Type please</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="FuelTypeId"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryId">Category</label>
                                    <select asp-for="CategoryId" class="form-control" asp-items="new SelectList(ViewBag.Categories,nameof(Category.Id),nameof(Category.Name))">
                                        <option disabled selected>Select Category please</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="CategoryId"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FeatureIds">Features</label>
                                    <select asp-for="FeatureIds" class="form-control" asp-items="new SelectList(ViewBag.Features,nameof(Feature.Id),nameof(Feature.Name))">
                                        
                                    </select>
                                    <span class="text-danger" asp-validation-for="FeatureIds"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ColorIds">Interior Color</label>
                                    <select asp-for="ColorIds" class="form-control" asp-items="new SelectList(ViewBag.Colors,nameof(Color.Id),nameof(Color.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="ColorIds"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ColorIds">Exterior Color</label>
                                    <select asp-for="ColorIds" class="form-control" asp-items="new SelectList(ViewBag.Colors,nameof(Color.Id),nameof(Color.Name))">
                                    </select>
                                    <span class="text-danger" asp-validation-for="ColorIds"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Description</label>
                                    <input asp-for="Description" class="form-control" placeholder="Description">
                                    <span class="text-danger" asp-validation-for="Description"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MainPhoto">Main Photo</label>
                                    <input asp-for="MainPhoto" class="form-control" accept="image/*">
                                    <span class="text-danger" asp-validation-for="MainPhoto"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Photos">Additional Photos</label>
                                    <input asp-for="Photos" class="form-control" accept="image/*">
                                    <span class="text-danger" asp-validation-for="Photos"></span>
                                </div>
                                <button type="submit" class="btn btn-primary me-2">Create</button>
                                <a asp-action="index" asp-controller="car" class="btn btn-light">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        function GetModels() {
            var markaId = $("#markaId").val();
            console.log(markaId);
            if(markaId !== null){
                $.ajax({
                    url: 'http://localhost:5017/RentalyAdmin/car/getmodelsbymarka?markaId=' + markaId,
                    type: 'GET',
                    dataType: 'json'
                }).done(function (data) {
                    // Get the select element for models
                    var selectElement = $('#ModelId');

                    // Clear any existing options
                    selectElement.empty();

                    // Iterate over the models and create options
                    $.each(data, function (index, model) {
                        // Create a new option element
                        var option = $('<option></option>');

                        // Set the value and text of the option
                        option.val(model.id);
                        option.text(model.name);

                        // Append the option to the select element
                        selectElement.append(option);
                    });
                }).fail(function (xhr, status, error) {
                    // Handle the error response
                    console.error(error);
                });
            }
            // Make an AJAX request to retrieve the models based on the selected marka
            
        }
        GetModels();
        $('#markaId').change(GetModels);
    });

</script>