@model ForgotPasswordVM
@{
    Layout = null;
}
<div class="container">
    <br /> <br />
    <h1>Reset Password</h1>
    <form method="post">
        <label asp-for="Mail">Enter your email</label>
        <input asp-for="Mail" />
        <button type="submit" class="btn btn-primary">Send Reset Password Link</button>
    </form>
</div>
