@model ForgotPasswordVM
@{
    Layout = null;
}
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
<div class="container">
    <br /> <br />
    <h1>Reset Password</h1>
    <form method="post">
        <label asp-for="Mail">Enter your email</label><br />
        <input class="my-2" asp-for="Mail" /><br />
        <button type="submit" class="btn btn-primary">Send Reset Password Link</button>
    </form>
</div>
